@import 'config'

header
  
  color white
  background-color midnightblue
  font-size 3.2em
  line-height 0.9em
  text-align right
  z-index 15
  position relative
  #amuz
    display inline
    margin-left 0.2em
    margin-right 0.2em
    color #e74c3c
    font-family 'PhantomLight'
  img
    height 1em
    display inline
    margin-left 0.2em
  #donate
    color sunflower
    span  
      font-family Langdon
      font-size 0.3em
      position absolute
      margin-left -3.4em
      margin-top 0.1em
  #donate:hover
    color orange

  input
    outline 0
    border 0
    height 2.21em
    font-size 0.5em
    line-height 2em
    float left
    vertical-align middle
    background none
    color white
    margin-left .2em
  button
    float left